
@font-face {
    font-family: 'Gotham Pro';
    src: url('../font/GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
    url('../font/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../font/GothamPro.woff') format('woff'),
    url('../font/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gotham Pro', 'OpenSans', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    height: 100vh;
    width: 100vw;
    background: -webkit-gradient(linear, left top, right top, color-stop(-50%, skyblue), color-stop(150%, purple));
    background: -o-linear-gradient(left, skyblue -50%, purple 150%);
    background: linear-gradient(to right, skyblue -50%, purple 150%);
    position: relative;
    z-index: 0;
}

.blur {
    /*position: absolute;
    z-index: 99;
    visibility: hidden;
    opacity: 0.8;
    background-color: #ccc;
    left: 0;
    top: 0;*/
    width: 100vw;
    height: 100vh;
}

.blur--active {
    filter: blur(5px);
}

.call-btn,
.reg-btn{
    position: relative;
    z-index: 1;
}

.contact-form,
.modal-thank,
.reg-form {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*visibility: hidden;*/
    display: none;
    width: calc(100% - 10px);
    height: auto;
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.contact-form__close,
.modal-thank__close,
.reg-form__close{
    position: absolute;
    left: 95%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #6D6D6D;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contact-form__close:hover,
.modal-thank__close:hover,
.reg-form__close:hover {
    color: red;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contact-form__title,
.modal-thank__title,
.reg-form__title {
    text-align: center;
    color: #EF7B00;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
}

.modal-thank__title {
    padding-top: 20px;
}
.modal-thank__text{
    text-align: center;
}

.contact-form__head > .contact-form__text,
.reg-form__head > .reg-form__text {
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.contact-form__client-info > .contact-form__text,
.contact-form__client-action > .contact-form__text,
.reg-form__client-info > .reg-form__text,
.reg-form__head > .reg-form__text,
.reg-form__client-other > .reg-form__text,
.reg-form__client-other > .check >.reg-form__text{
    font-size: 0.75em;
}

.contact-form__head,
.contact-form__client-info,
.contact-form__client-action,
.reg-form__head,
.reg-form__client-info,
.reg-form__client-other{
    border: 0;
}

.contact-form__head,
.contact-form__client-info,
.reg-form__head,
.reg-form__client-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
}


.contact-form__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
}

.contact-form__input,
.contact-form__comment,
.reg-form__input,
.reg-form__about{
    font-size: 1em;
    height: 1.7em;
    padding: 0 20px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid rgba(109, 109, 109, 0.4);
}

.contact-form__comment,
.reg-form__about{
    resize: none;
    height: 3.2em;
}

.contact-form,
.reg-form{
    background-color: #fff;
    border-radius: 10px;
}

.contact-form__client-action{
    padding-top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.contact-form__client-action > .contact-form__text{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.contact-form__link,
.reg-form__link {
    font-size: 0.75em;
    color: #000;
    padding-bottom: 1.05em;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline;
    width: auto;
}

.contact-form__link:hover,
.reg-form__link:hover {
    font-weight: bold;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contact-form__comment:focus,
.contact-form__input:focus,
.reg-form__about:focus,
.reg-form__input:focus {
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 19, 19, 0.54);
    color: rgba(255, 19, 19, 0.54);
}

.contact-form__comment:focus::-webkit-input-placeholder,
.contact-form__input:focus::-webkit-input-placeholder {
    color: transparent;
}

.contact-form__comment:focus::-moz-placeholder,
.contact-form__input:focus::-moz-placeholder {
    color: transparent;
}

.contact-form__comment:focus:-ms-input-placeholder,
.contact-form__input:focus:-ms-input-placeholder {
    color: transparent;
}

.contact-form__comment:focus::-ms-input-placeholder,
.contact-form__input:focus::-ms-input-placeholder {
    color: transparent;
}

.contact-form__comment:focus::placeholder,
.contact-form__input:focus::placeholder,
.reg-form__about:focus::placeholder,
.reg-form__input:focus::placeholder{
    color: transparent;
}

.contact-form__btn,
.modal-thank__btn,
.reg-form__btn,
.call-btn,
.reg-btn,
.reg-form__btn-next,
.reg-form__btn-up{
    height: 50px;
    width: calc(100% - 20px);
    margin: 10px auto 10px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #EF7B00;
    color: #fff;
    background-color: #EF7B00;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.reg-form__btn-next:disabled,
.reg-form__btn-up:disabled{
    border: 1px solid #6D6D6D;
    color: #fff;
    background-color: #CCC;
}


.contact-form__btn:hover,
.modal-thank__btn:hover,
.call-btn:hover,
.reg-btn:hover,
.reg-form__btn:hover,
.reg-form__btn-next:enabled:hover,
.reg-form__btn-up:enabled:hover{
    background-color: #1d2262;
    color: #EF7B00;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.modal-thank {
    background-color: #fff;
    border-radius: 5px;
}

.contact-form--visible,
.modal-thank--visible,
.reg-form--visible{
    opacity: 1;
    /*visibility: visible;*/
    display: block;
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.contact-form__check,
.reg-form__check{
    display: none;
}

.contact-form__check:checked + span,
.contact-form__check + span,
.reg-form__check:checked + span,
.reg-form__check + span{
    background: url("../img/cheked.svg") no-repeat;
    width: 18px;
    height: 18px;
    padding-left: 19px;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.contact-form__check + span,
.reg-form__check + span{
    background: url("../img/check.svg") no-repeat;

}

.reg-form__check:checked + span,
.reg-form__check + span {
    background-size: 70%;
}


@media (min-width: 769px) {
    .contact-form,
    .reg-form {
        width: 390px;
    }

    .contact-form__title,
    .modal-thank__title,
    .reg-form__title {
        font-size: 1.9em;
    }

    .contact-form__head > .contact-form__text,
    .reg-form__head > .reg-form__text,
    .reg-form__client-other > .reg-form__text,
    .modal-thank__text {
        font-size: 0.87em;
    }

    .contact-form__client-action > .contact-form__text,
    .reg-form__text{
        font-size: 1.08em;
    }

    .contact-form__input,
    .contact-form__comment,
    .reg-form__input,
    .reg-form__about{
        height: 40px;
    }

    .contact-form__comment,
    .reg-form__about {
        padding-top: 20px;
    }

    .contact-form__comment::-webkit-input-placeholder,
    .contact-form__input::-webkit-input-placeholder {
        font-size: 1em;
    }

    .contact-form__comment::-moz-placeholder,
    .contact-form__input::-moz-placeholder {
        font-size: 1em;
    }

    .contact-form__comment:-ms-input-placeholder,
    .contact-form__input:-ms-input-placeholder {
        font-size: 1em;
    }

    .contact-form__comment::-ms-input-placeholder,
    .contact-form__input::-ms-input-placeholder {
        font-size: 1em;
    }

    .contact-form__btn,
    .contact-form__btn,
    .contact-form__comment::placeholder,
    .contact-form__input::placeholder,
    .reg-form__about::placeholder,
    .reg-form__input::placeholder{
        font-size: 1em;
    }

    .contact-form__comment,
    .reg-form__about{
        height: 100px;
    }

    .contact-form__btn,
    .reg-form__btn,
    .reg-form__btn-next,
    .reg-form__btn-up
    {
        height: 50px;
        width: 330px;
    }

    .modal-thank {
        width: 390px;
        background-color: #fff;
    }

    .call-btn,
    .reg-btn {
        font-size: 20px;
        width: auto;
        padding: 10px;
    }

    .contact-form__client-info > .contact-form__text,
    .reg-form__client-info > .reg-form__text,
    .reg-form__head > .reg-form__text,
    .reg-form__client-other > .reg-form__text{
        font-size: 1em;
    }

    .contact-form__check:checked + span,
    .contact-form__check + span,
    .reg-form__check:checked + span,
    .reg-form__check + span{
        width: 19px;
        height: 18px;
    }
    .reg-form__check:checked + span,
    .reg-form__check + span {
        background-size: 100%;
    }
    .reg-form__client-other > .reg-form__text,
    .reg-form__client-other > .check >.reg-form__text{
        font-size: 1.1em;
    }

}


.reg-form__head > .reg-form__text,
.reg-form__client-info > .reg-form__text,
.reg-form__client-other > .reg-form__text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}


.check{
    display: flex;
    flex-direction: column;
}


.reg-form__inner{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.reg-form__head,
.reg-form__client-info,
.reg-form__client-other{
    display: none;
}
.reg-form__head--active,
.reg-form__client-info--active,
.reg-form__client-other--active
{
    display: block;
}
